.container{
    background-color: #ffff;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: 2rem;
    .form-control{
        margin-bottom: 1rem;
        margin-top: .5rem;
    }
    .submit-buttom{
        text-align: center;
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}