// @import 'primeflex/primeflex.css';
// @import 'primeicons/primeicons.css';


:root body {
  background-color: #F1F3F4 !important; /* Last resort */
  height: 100%;
  ul{
    margin: 0;
    padding: 0;
  }
  
  
  
}
body, html {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
   
    
  }
  .center-input{
    text-align: center;
  }
 

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
