<div class="container">
   
    <div class="row">

        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="p-field">
                <label for="barcode" class="custom-label">Barcode</label>
                <input
                  id="barcode"
                  (ngModelChange)=" getreturnProduct($event)"
                 [(ngModel)]="productBarcode"
                  type="text"
                  pInputText

                />

        </div>
    </div>

      <div class="product-details" *ngIf="isTableVisibile">
        <p-table
          [value]=" returnProduct"
          [tableStyle]="{ 'min-width': '50rem' }"
        >
          <ng-template pTemplate="header">
            <tr>
              <th>#</th>
              <th>Product Name</th>
              <th> Total Quantity</th>
              <th> Return Quantity</th>
              <th>Purchase Price</th>
              <th>Wholesale Price</th>
              <th>Retail Price</th>
              <th>Action</th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-product let-i="rowIndex">
            <tr>
              <td>{{ i + 1 }}</td>
              <td>{{ product.name }}</td>
              <td>{{ product.quantity }}</td>
              <td><input type="text"pInputText [(ngModel)]="returnQuantity" class="text-center"></td>
              <td>{{ product.purchase}}</td>
              <td>{{ product.wholesale}}</td>
              <td>{{ product.retail}}</td>
              <td>
                <button class="btn btn-primary " type="button" (click)="returnItem()">Return</button>
              </td>
             
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="8">No product found.</td>
            </tr>
          </ng-template>
          
        </p-table>
     </div>

  
  
</div>

   
